In [ ]:
print("welcome to python")
a=10
b=20
c=a+b
print(type(a))
print(c)

welcome to python
<class 'int'>
30

In [ ]:
#use of"+" as a concat sign.
a = "10"
b = "20"
print(a + " " + b)

10 20

In [ ]:
birth_year=int(input("what is your age?"))
age=2024-birth_year
print(age)

what is your age?20
2004

In [ ]:
str_1=("hello world")
print(type(str_1))
a=10.5
b=6
c=a+b
print(type(c))
print(c)

<class 'str'>
<class 'float'>
16.5

In [ ]:
name=input("what is your name?")
sap=int(input("what is your sap?"))
address=input("what is your address?")
age=int(input("what is your age?"))
hobby=input("what is your hobby?")
yourself=input("YAMINI YOUR ARE PERFECT")

what is your name?YAMINI
what is your sap?500124307
what is your address?BIDHOLI
what is your age?20
what is your hobby?SINGING, DANCING
YAMINI YOUR ARE PERFECT<3

In [48]:
a="DISNEY_LAND"
print(a)
print(a.lower())
print(a.upper())
print(a[5])
print(a[1:4])
print(a.replace("A","E"))
print(a.find("S"))
print(len(a))

TypeError: 'int' object is not callable