<a href="https://colab.research.google.com/github/Yaminidhimann/Yaminidhimann/blob/main/listp2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
str_1="Welcome to python"
list_1=[i for i in str_1]          #TO PRINT THE ELEMENTS OF STRING IN THE LIst.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [6]:
list_2=[i for i in range(20)]
list_2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [7]:
list_3=[i for i in range(20) if i%2==0]
list_3

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [11]:
#WAPTO CREATE A lIST WHICH TAKES THE NO FROM 1 TO 100 AND DISPLACE THAT NO. AS EVEN OR ODD.
list_1=[i for i in range(100) if i%2==0 ]
print("list of even numbers in given range /n",list_1)
list_2=[i for i in range(100) if i%2!=0]
print("list of odd numbers in given range/n",list_2)

list of even numbers in given range /n [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
list of odd numbers in given range/n [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [18]:
str_1="hello"
print(id(str_1))              #prints the memory addresss
str_2="world"
print(id(str_2))
str_1=str_1+str_2
print(str_1)
print(id(str_1))

132696510359664
132695455972272
helloworld
132695456223216

In [19]:
a={1,2,3,4,5,6}
for i in enumerate(a):                 #enumerate prints the tuple of index and element pairs
  print(i)

  '''
b={sapid : 500124307
   deptt : "SOCS"
   University :"UPES"}
'''

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)

In [31]:
a=[1,2,3,4,'yamini']                   #accessing the value in list

print(a[2])

[3, 4, 'yamini']

In [38]:
#WAP TO PRINT THE LARGEST O. FROM THE LIST.
num=int(input("enter the range"))
list_1=[i for i in range(num)]
print("largest element is",max(list_1))

enter the range20
largest element is 19

In [24]:
my_list = ["a", "1", "b", "2", "3", "4", "c", "d"]
result = [val for val in my_list if val.isdigit()]
print(result)
result2 = [val for val in my_list if val.isalpha()]
print(result2)

['1', '2', '3', '4']
['a', 'b', 'c', 'd']