<a href="https://colab.research.google.com/github/Yaminidhimann/Yaminidhimann/blob/main/TASKS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#TO CREATE A CIRCLE CONSTRUCTOR

class Circle:
  def __init__(self,radius):
    self.radius=radius

  def get_area(self):
    return 3.14*(self.radius**2)

  def get_parameter(self):
    return 2*3.14*self.radius

radius=4
Circle=Circle(radius)
print("area:",Circle.get_area())
print("parameter:",Circle.get_parameter())

area: 50.24
parameter: 25.12

In [7]:
import numpy as np
import pandas as pd


data = {
    'sapid': np.random.randint(100000000, 999999999,size=10),
    'fname': ['kushagra', 'yamini', 'aaryan', 'YAMINI', 'NADIA', 'vishu', 'lavanya', 'kittu', 'jai', 'kit'],
    'lname': ['raghav', 'dhiman', 'khandelwal', 'DHIMAN', 'CUTIE', 'raghav', 'raghav', 'don', 'don', 'kat'],
    'subject': ['Math', 'Science', 'English', 'History', 'Geography', 'Art', 'Music', 'Physical Education', 'Computer Science', 'Language'],
    'teacher': ['Mr. sajid', 'Mrs. Silky', 'Ms.meha ', 'Mr. manish', 'Mrs. bhavna', 'Mr. bhupendra', 'Ms.tanya', 'Mr. maish', 'Mrs.archana', 'Mr.chahal']
}


df = pd.DataFrame(data)


print(df)

       sapid     fname       lname             subject        teacher
0  893864477  kushagra      raghav                Math      Mr. sajid
1  813911550    yamini      dhiman             Science     Mrs. Silky
2  725155768    aaryan  khandelwal             English       Ms.meha
3  266778796    YAMINI      DHIMAN             History     Mr. manish
4  346787593     NADIA       CUTIE           Geography    Mrs. bhavna
5  257289209     vishu      raghav                 Art  Mr. bhupendra
6  618457154   lavanya      raghav               Music       Ms.tanya
7  402853081     kittu         don  Physical Education      Mr. maish
8  157386619       jai         don    Computer Science    Mrs.archana
9  883193669       kit         kat            Language      Mr.chahal